# Tuplas e Conjuntos

### Tupla:
Uma tupla é uma estrutura de dados cuja principal é característica que seus elementos NÃO PODEM SER ALTERADOS, ADICIONADOS ou REMOVIDOS após criada.
Para identificar e definir uma tupla, devemos colocar elementos entre parênteses, separando-os por vírgulas.

uma empresa, no momento de uma venda, registra o nome e o cpf do cliente. Esse cpf nao pode ser alterado ou utilizado em outro nome.
Uma tupla serviria para impedir essa fraude

In [6]:
dados_cliente = ("123.456.789-00","Caio Moro")

In [9]:
# acessando os elementos
nome_cliente = dados_cliente[1]
cpf_cliente = dados_cliente[0]

print(nome_cliente)
print(cpf_cliente)

Caio Moro
123.456.789-00

In [12]:
print("o cliente cujo cpf é:", dados_cliente[0], "se chama ", dados_cliente[1])

o cliente cujo cpf é: 123.456.789-00 se chama  Caio Moro

In [13]:
#tentativa de alteracao da tupla: CAUSARÁ UM ERRO

dados_cliente[1] = 'Jailson Moreira'

TypeError: 'tuple' object does not support item assignment

In [16]:
#tentativa de adicionar item a tupla: CAUSARÁ UM ERRO
dados_cliente[2] = '+1857-340-0730'

TypeError: 'tuple' object does not support item assignment

In [17]:
#tentativa de deletar item da tupla: CAUSARÁ UM ERRO
del dados_cliente[0]

TypeError: 'tuple' object doesn't support item deletion

### Exemplo de aplicacao de tupla

In [28]:

estados = [
           ("São Paulo",'SP'),
           ("Mato Grosso",'MT'),
           ("Rio Grande do Norte",'RN')        
          ]

In [29]:
estado_pesquisado = input("digite o estado a ser pesquisado: ")

digite o estado a ser pesquisado: SP

In [26]:
sigla_encontrada = None

In [27]:
for estado, sigla in estados:
    if estado == estado_pesquisado:
        sigla_encontrada = sigla
        break
        
if sigla_encontrada:
    print("o estado pesquisado foi", estado_pesquisado, "e sua sigla é:", sigla_encontrada)
else:
    print("não existe registro para o estado pesquisado:",estado_pesquisado)

não existe registro para o estado pesquisado: Massachusetts

### Conjuntos

Um conjunto é uma coleção de elementos cuja propriedade principal é que seus elementos são ÚNICOS, ou seja, não se permite armazenar elementos duplicados.

Além disso, os conjuntos podem ser usados em operações matemáticas como UNIÃO, INTERSECÇÃO e DIFERENÇA entre conjuntos.

Para definir um conjunto, utiliza-se CHAVES {  } e seus itens são separados por vírgulas.
Também pode definir um conjunto com a função <b>set()</b>.

In [41]:
conjunto_numeros = {34,35,46,53,12,6,2,9999}

In [42]:
print(type(conjunto_numeros))

<class 'set'>

In [48]:
# teste de adicionar um elemento já repetido usando a funcao add()
conjunto_numeros.add(35)
conjunto_numeros.add(46)

print(conjunto_numeros)

{34, 35, 2, 53, 6, 12, 46, 9999}

In [49]:
novo_conjunto = {"banana","Jonas", 4.5789, "Joaquim", "Nike",5}

In [51]:
# adicionando o novo_conjunto ao conjunto_numeros (operacao de uniao)

conjunto_numeros.update(novo_conjunto)
print(conjunto_numeros)

{2, 'Nike', 5, 6, 4.5789, 12, 'banana', 9999, 34, 35, 'Joaquim', 46, 'Jonas', 53}

In [52]:
# exemplo de interseccao do conjunto_numeros com um outro conjunto chamado int_conjunto

#criando um conjunto
int_conjunto = {2,35,46,100,"besouro"}

#operacao de interseccao

interseccao = conjunto_numeros.intersection(int_conjunto)


print("interseccao de conjuntos:\n")
print(interseccao)

interseccao de conjuntos:

{2, 35, 46}

In [62]:
# exemplo de diferenca de conjunto_numeros e int_conjuntos

diferenca_conjunto = conjunto_numeros.difference(int_conjunto)

print("diferenca de conjuntos:")
print(diferenca_conjunto)

diferenca de conjuntos:
{34, 4.5789, 'Nike', 5, 6, 'Joaquim', 12, 'banana', 9999, 'Jonas', 53}